AppKit==0.2.8
attr==0.3.2
bjoern==3.2.2
bokeh==3.3.0
brotli==1.1.0
brotlicffi==1.1.0.0
cairocffi==1.6.1
Carbon==1.1.10
Cheetah==2.4.4
cheroot==10.0.0
cherrypy==18.8.0
ConfigParser==6.0.0
contextlib2==21.6.0
coverage==7.3.2
cryptography==41.0.5
Cython==3.0.4
defcon==0.10.3
defusedxml==0.7.1
Dialog==0.2.0
diesel==3.0.24
Django==4.2.6
dl==0.1.0
dnspython==2.4.2
docutils==0.20.1
eventlet==0.33.3
flup==1.0.3
freetype_py==2.4.0
fs==2.4.16
glyphsLib==6.4.1
HTMLParser==0.0.2
hypothesis==6.88.1
ipdb==0.13.13
ipykernel==6.26.0
ipython==8.16.1
ipywidgets==8.1.1
jnius==1.1.0
keyring==24.2.0
lockfile==0.12.2
lxml==4.9.3
lz4==4.3.2
Mako==1.2.4
meinheld==1.0.2
mock==5.1.0
mtrand==0.1
munkres==1.1.4
mypy==1.6.1
numarray==1.5.1
Numeric==24.2
objgraph==3.6.0
olefile==0.46
pandas==2.1.1
PasteScript==3.3.0
pickle5==0.0.12
protobuf==4.24.4
psutil==5.9.6
pydot==1.4.2
PyInstaller==6.1.0
pyOpenSSL==23.3.0
PyQt6==6.5.3
PySide2==5.15.2.1
PySide6==6.6.0
pytest==7.4.3
python-socketio==5.10.0
pytz==2023.3.post1
PyYAML==6.0.1
Quartz==0.0.1.dev0
railroad==0.5.0
reportlab==4.0.6
Res==0.1.7
rocket==1.2.8
scipy==1.11.3
selectors2==2.0.2
selenium==4.14.0
setuptools_scm==8.0.4
shiboken2==5.15.2.1
shiboken6==6.6.0
simplejson==3.19.2
Sphinx==7.2.6
sphinx_gallery==0.14.0
sympy==1.12
threadpoolctl==3.2.0
tornado==6.3.3
trove_classifiers==2023.10.18
truststore==0.8.0
Twisted==23.8.0
ufoLib2==0.16.0
uharfbuzz==0.37.3
ujson==5.8.0
unicodedata2==15.1.0
unittest2==1.1.0
urllib3_secure_extra==0.1.0
waitress==2.1.2
wsaccel==0.6.6
xattr==0.10.1
xmlrpclib==1.0.1
zopfli==0.2.3
zstandard==0.21.0
