{% extends "base.html" %}

{% block tab %}
<script>
    $('#automations').removeClass('active')
    $('#statistics').removeClass('active')
    
    $('#progress').addClass('active')
</script>

<table>
  <thead>
      <tr>
          <th>ID</th>
          <th>Label</th>
          <th>Collegamenti</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>start</td>
          <td>Inizio</td>
          <td>process1</td>
      </tr>
      <tr>
          <td>process1</td>
          <td>Analisi</td>
          <td>decision1</td>
      </tr>
      <tr>
          <td>decision1</td>
          <td>Esito Positivo?</td>
          <td>process2 (yes), end (no)</td>
      </tr>
      <tr>
          <td>process2</td>
          <td>Elaborazione</td>
          <td></td>
      </tr>
      <tr>
          <td>end</td>
          <td>Fine</td>
          <td></td>
      </tr>
  </tbody>
</table>
{% endblock %}

